/* Game board styling */
/* style file */
.dropdown {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 1rem;
}

.play-again {
  display: flex;
    justify-content: center;
    padding: 2rem;
}

#currentPlayer {
  display: flex;
    justify-content: center;
  
}

/* google font class for UI */
.freckle-face-regular {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
  } 
  
* {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(160, 50, 50), rgb(32, 32, 144));
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000000;
  font-size: 5rem;
}

/* Toggle Switch CSS */
.theme-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.theme-switch input {
  display: none;
}

.slider {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translate(25px, -50%);
}

/* Light Mode Styles */
body.light-mode {
  background: linear-gradient(to bottom, rgb(250, 145, 145), rgb(159, 159, 231));
  color: rgb(0, 0, 0);
}

body.light-mode .game-board {
  background: linear-gradient(to bottom, #f68b8b, #95a3fe); /* Light mode board color */
  border: 5px solid #fff;
}

body.light-mode .tile {
  border-color: #ffffff;
}

/* Dark Mode Styles */
body.dark-mode {
  background: linear-gradient(to bottom, rgb(111, 27, 27), rgb(19, 19, 89));
  color: white;
}

body.dark-mode .game-board {
  background: linear-gradient(to bottom, rgb(160, 50, 50), rgb(32, 32, 144)); /* Dark mode board color */
  border: 5px solid #000000;
}

body.dark-mode .tile {
  border-color: #000;
}

#winModal {
  color: #000;
}
@media screen and (max-width: 500px) {
  .game-board {
    width: 300px;
    height: 300px;
  }
  h1 {
    text-align: center;
  }
  .tile {
  font-size: 250%; 
  }

}
#dropdown-menu {
  inset: 0px auto auto -15px !important;
}